<div class="product-options">
    <p class="selected-swatch">
        Color: {{product.image.selectedColor | capitalize}}
    </p>
    <!-- Product Swatches-->
    <div class="swatches">
        <img
        data-ng-class="{selected: $index == product.image.activeSwatch}"
        data-ng-repeat="color in data.colors"
        data-ng-click="product.changeColor($index, color)"
        data-ng-src="{{product.swatchUrl}}{{color.id}}_s.png"
        data-color-name="{{color.displayName}}" />
    </div>
    <!-- Product Size-->
    <div class="product-size">
        <div 
            data-ng-repeat="color in data.colors"
            class="sizes"
            data-ng-class="{selected: $index == product.image.activeSwatch}" >
            <p>Sizes:</p>
            <p data-ng-repeat="size in color.sizes">
                {{size.displayName}}
            </p>
        </div>
    </div>
</div>