<div class="basket-options small-8 large-8 columns">
        <label>Quantity
            <input class="product--quantity" type="text" value="1"/>
        </label>
    <button class="product--button">Add to Basket</button>
</div>