<div class="basket-options small-8 large-8 columns">
        <label>Quantity:</label><br>
            <input class="product--quantity" type="text" value="1"/>
    <button class="product--button" disabled="true">Add to Basket</button>
</div>