<div class="basket-options small-8 large-8 columns">
        <label>Quantity:</label><br>
            <input class="product--quantity" type="text" value="1" maxlength="2" />
            <div class="enter-quantity hidden">Please enter a quantity</div>
    <button class="product--button" data-hover="Please select a size" disabled="true">Add to Basket</button>
</div>