{{> product-images}}
<div class="product-content small-8 large-8 columns">
    <h4>
    Details &amp; Shopping
    </h4>
    <div class="product-desc">
        <p>{{{product.longDescription}}}</p>
    </div>
    <h4>${{product.skusInfo.[0].priceLists.[0].salePrice}}</h4>
    <p class="sale">was ${{product.skusInfo.[0].priceLists.[0].listPrice}}.00</p>
</div>
{{> product-options}}
{{> basket-options}}