{{> product-images}}
<div class="product-content small-12 medium-4 large-4 columns">
    <h4>
    Details &amp; Shopping
    </h4>
    <div class="product-desc">
        <p>{{{product.longDescription}}}</p>
    </div>
    <div>
        <ul class="product-care">
            <li>*100% Cotton </li>
            <li>*Slip: 100% Rayon </li>
            <li>*Dry Clean </li>
            <li>*Import </li>
        </ul>
    </div>
</div>
{{> product-options}}
{{> basket-options}}