// foundation
@import "normalize";
@import "foundation/components/grid";
@import "foundation/components/visibility";

body {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

input {
    width: 100%;
}

button[disabled] {
    color: #aaa;
}

.sale {
    font-size: 0.8em;
    color: #bf0000;
}

.prices {
    margin: 15px 0 0;
}

input.product--quantity {
    padding: 4px 6px;
    width: 3em;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    color: #3d3d3d;
    text-align: center;
    margin: 5px 1px;
    background-image: none;
    font-size: 12px;
}

.product--button {
    background: #fff;
    border: 1px solid;
    margin: 4px 0;
    display: block;
}

.swatch-button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

.product--button[disabled] {
    color: #aaa;
    position: relative;
    &:hover:after {
        content: 'Don\'t forget to select a Size';
        position: absolute;
        width: 10em;
        background: #ccc;
        color: #000;
        padding: 7px;
        font-size: 0.8em;
        left: 0;
        top: 35px;
    }
}

.thumbnails--thumbs {
    margin: 7px 0;
    display: inline-block;
}

.color-swatch {
    margin: 0 2px;
}

.sizes {
    position: relative;
    button {
        border: 1px solid;
        background: transparent;
        margin: 0 4px 0 0;
        cursor: pointer;
        min-width: 4em;
        float: left;
        padding: 0;
        font-size: 0.4em;
        display: block;
        line-height: 3em;
    }
    button[disabled] {
        cursor: default;
        color: #ddd;
        border: 1px solid #ddd;
    }
    &:hover .out-of-stock {
        display: block;
    }
}

.current-color {
    text-transform: capitalize;
}

.out-of-stock {
    position: absolute;
    min-width: 10em;
    font-size: 0.8em;
    color: #bf0000;
    bottom: 33px;
    background: #fff;
    padding: 8px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
}

.running-low {
    position: absolute;
    top: 32px;
    font-size: 0.8em;
    color: #bf0000;
    font-weight: bold;
}

.swatches {
    img {
        margin: 4px 3px 2px 0;
        padding: 1px;
        cursor: pointer;
    }
    .selected {
        border: 1px solid #eb5190;
    }
}

.selected-swatch {
    margin: 4px 0;
}

.thumbnails {
    img {
        cursor: pointer;
        &.selected {
            border: 1px solid #eb5190;
        }
    }
}

.selected.sizes {
    display: block;
    p {
        margin: 0 3px 0 0;
    }
}

.product-options {
    margin: 20px 0;
}

.product-size {
    margin: 10px 0;
    button {
        outline: none;
        &.selected {
            border: 1px solid #eb5190;
        }
    }
}

.hidden {
    display: none;
}

h2 {
    margin: 0.6em 1em;
    font-weight: bold;
}