// Placeholder

li {
    display: inline;
}

.color-swatch {
    margin: 0 2px;
}

.sizes {
    display: none;
    p {
        display: inline-block;
    }
}

.swatches {
    img {
        margin: 4px 3px 2px 0;
        padding: 1px;
        cursor:pointer
    }
    .selected {
        border: 1px solid;
    }
}

.selected-swatch {
    margin: 4px 0;
}

.thumbnails {
    img {
        cursor: pointer;
    }
}

.selected.sizes {
    display: block;
    p {
        margin: 0 3px 0 0;
    }
}

.product-details {
    margin: 0 auto;
    width: 1140px;
    padding: 20px;
}

.product-content {
    float: left;
    width: 68%;
}

.product-images {
    float: left;
}

.product-desc {
    float:left;
    width:60%;
    padding:0px 30px 0px 0px;
}



h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
}

h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
}

h4 {
    margin: 1.12em 0;
}